# Archivos extra
bigData_pc1_uxxxxxxxxx.tex
inspect_json.py
.pytest_cache
scratch
scratch/*
uefa_match_events.csv
match_links.json

# Entornos
.venv
.env

# cache
__pycache__

# copias de seguridad
copia_buena.csv